.game {
  
  display: flex;
  flex-direction: column;     /* Empilha os itens verticalmente */
  align-items: center;     /* Empilha os itens verticalmente */
  justify-content: center;    /* Alinha no centro vertical (eixo principal) */
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #038dfd;
  color: #000;
 
}

.status {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.restart {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  color: #141414;
  background-color: #ff5100;
}
