.square {
  width: 80px;
  height: 80px;
  background: rgb(5, 5, 5);
  border: 2px solid #444;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}

.square:hover {
  background: #ddd;
}